*$py.class
*,cover
*.cover
*.egg
*.egg-info/
*.log
*.manifest
*.mo
*.pot
*.py[cod]
*.sage.py
*.so
*.spec
.cache
.coverage
.coverage.*
.dmypy.json
.eggs/
.env
.hypothesis/
.idea
.installed.cfg
.ipynb_checkpoints
.mypy_cache/
.nox/
.pyre/
.pytest_cache/
.Python
.python-version
.ropeproject
.scrapy
.spyderproject
.spyproject
.tox/
.venv
.webassets-cache
/site
__pycache__/
_build/
build/
celerybeat-schedule
coverage.xml
db.sqlite3
develop-eggs/
dist/
dmypy.json
docs/_build/
downloads/
eggs/
env.bak/
ENV/
env/
htmlcov/
instance/
ipython_config.py
junit.xml
lib/
lib64/
local_settings.py
MANIFEST
nosetests.xml
parts/
pip-delete-this-directory.txt
pip-log.txt
profile_default/
sdist/
share/python-wheels/
target/
var/
venv.bak/
venv/
VERSION
wheels/
